// Template Colors
$tpBlue1: #3D2B61; 
$tpBlue2: #4e36dd;
$tpBlue3: #9285db;
$tpWhite: #fff;
$tpPink: #ed306a;
$tpLightPink2: #dda0b2;
$tpLightPink: #ca7891;
$tpPink2: #e877ff;
$tpGray: #f2f2f2;
$tpGray2: #CBCFD4;
$tpGray3: #30363D;
$tpPurple: #220F41;
$tpBlack: #222222;
$tpBlack1: #3C444C;
$tpBrown: #3B0D1B;



// Links
$link: #CBCFD4;
$link-active: #fff;

// Nav Colors

//Text 

$headerNavTxt: #CBCFD4;

//Link Hover Effect: 
$headerNavLinkGradient: linear-gradient(90deg, #F27A54 0%, #A154F2 186.42%);


// Header Nav Colors


//Buttons

$btnBlue1: #2f5988;
$btnBlue2: #5458F7;
$btnBlue3:#4A96F0;
$btnPink: #C654DD;
$btnGreen:#A3c026;
$btnPurple1:#2C1857;
$btnPurple2:#796B93;
$btnGray1:#9b928f;
$btnGray2:#9597A1;
$btnBlack2:#383838;

//Linear Gradients:
$btnGradientBlue: linear-gradient(125.58deg, #5458F7 -5.37%, #00D23A 196.64%);
$btnGradientPink: linear-gradient(90deg, #C654DD 0%, #E6306A 186.42%);


//Buttons

