@mixin btnActionColor() {
  cursor: pointer;
  height: rem(40px);
  padding: 0px rem(20px) 0px rem(20px);
  background: linear-gradient(90deg, #c654dd 0%, #e6306a 186.42%);
  border-radius: rem(20px);
  border: 0px;
  font-family: $Montserrat-Bold;
  font-weight: bold;
  outline: none;
  line-height: 1;
  color: $tpWhite;
}

@mixin btnActionColorSm() {
  cursor: pointer;
  height: rem(30px);
  padding: 0px rem(20px) 0px rem(20px);
  background: linear-gradient(90deg, #c654dd 0%, #e6306a 186.42%);
  border-radius: rem(20px);
  border: 0px;
  color: $tpGray;
  font-family: $Montserrat-Bold;
  font-weight: bold;
  font-size: rem(12px);
  outline: none;
  line-height: 1;
}

@mixin btnAction() {
  cursor: pointer;
  height: rem(40px);
  padding: 0px rem(20px) 0px rem(20px);
  background: None;
  border-radius: rem(20px);
  border: 1px solid white;
  color: $tpGray;
  font-family: $Montserrat-Bold;
  font-weight: bold;
  outline: none;
  line-height: 1;
}

@mixin btnActionSm() {
  cursor: pointer;
  padding: 0px rem(20px) 0px rem(20px);
  height: rem(30px);
  background: None;
  border-radius: rem(20px);
  border: 1px solid white;
  color: $tpGray;
  font-family: $Montserrat-Bold;
  font-weight: bold;
  font-size: rem(12px);
  outline: none;
  line-height: 1;
}


@mixin btnActionGrey() {
  cursor: pointer;
  height: rem(40px);
  padding: 0px rem(20px) 0px rem(20px);
  background: None;
  border-radius: rem(20px);
  color: $tpGray;
  font-family: $Montserrat-Bold;
  font-weight: bold;
  outline: none;
  color: $tpGray3;
  border: 1px solid $tpGray3;
  line-height: 1;
}

@mixin btnActionGreySm() {
  cursor: pointer;
  padding: 0px rem(20px) 0px rem(20px);
  height: rem(30px); 
  background: None;
  border-radius: rem(20px);
  color: $tpGray;
  font-family: $Montserrat-Bold;
  font-weight: bold;
  font-size: rem(12px);
  outline: none;
  color: $tpGray3;
  border: 1px solid $tpGray3;
  line-height: 1;
}

@mixin btnActionWhite() {
  cursor: pointer;
  height: rem(40px);
  padding: 0px rem(20px) 0px rem(20px);
  background: None;
  border-radius: rem(20px);
  color: $tpGray;
  font-family: $Montserrat-Bold;
  font-weight: bold;
  outline: none;
  color: $tpWhite;
  border: 1px solid $tpWhite;
  line-height: 1;
}

@mixin btnActionWhiteSm() {
  cursor: pointer;
  height: rem(30px);
  padding: 0px rem(20px) 0px rem(20px);
  background: None;
  border-radius: rem(20px);
  color: $tpWhite;
  font-family: $Montserrat-Bold;
  font-weight: bold;
  outline: none;
  color: $tpWhite;
  border: 1px solid $tpWhite;
  line-height: 1;
} 
@mixin btnRound($size) {
  border-radius: 50%;
  width: $size;
  height: $size;
  border: 0;
  line-height: 1;
}