// Font Sizes


.fs10 { font-size: rem(10px); }
.fs12 { font-size: rem(12px); }
.fs14 { font-size: rem(14px); }
.fs18 { font-size: rem(18px); }
.fs20 { font-size: rem(20px); }
.fs22 { font-size: rem(22px); }
.fs24 { font-size: rem(24px); }
.fs26 { font-size: rem(26px); }
.fs28 { font-size: rem(28px); }
.fs30 { font-size: rem(30px); }
.fs32 { font-size: rem(32px); }
.fs34 { font-size: rem(34px); }
.fs36 { font-size: rem(36px); }

.text-center {
    text-align: center
}


// Flex:

.flex {
    display: flex
}

.column {
    flex-direction: column
}

.align-center {
    align-content: center;
}

.justify-center {
    justify-content: center;
}

.space-between {
    justify-content: space-between
}

.space-around {
    justify-content: space-around
}


//List 

.clean-list {
    padding: 0;
    margin: 0;
    list-style: none;
}