a.header-link {
  color: $link;
  text-decoration: none;
  display: inline-block;
  position: relative;
  height: 100%;

  &::after {
    content: '';
    height: 2px;
    background: grey;
    position: absolute;
    bottom: 8px;
    left: 0;
    width: 100%;
    transform: scaleX(0);
    transition: transform 0.2s ease-in-out;
  }

  &:hover::after{
    transform: scaleX(1);
  }

  &.header-link.router-link-exact-active.router-link-active::after {
    background: $btnGradientPink;
    transform: unset;
  }
}

a.clean-link {
  text-decoration: none;
  color: black;
  display: inline-block;
}
