@font-face {
    font-family: 'Roboto';
    src: url('/styles/fonts/Roboto/Roboto-Regular.ttf');
}

@font-face {
    font-family: 'Poppins';
    src: url('/styles/fonts/Poppins/Poppins-Medium.ttf');
}

@font-face {
    font-family: 'Roboto';
    src: url('/styles/fonts/Lato/Lato-Regular.ttf');
}